.mt-6 {
  margin-top: 13rem !important;
}
/* ******************** info ************************* */
.info-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.btnDownload {
  margin-right: 10px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
}
/* ******************** about Me ************************* */

.education {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 300px;
  background-color: white;
  margin: 10px;
}
.text {
  text-align: center;
  font-size: large;
  line-height: 1.5;
  margin-top: 20px;
}
/* ******************** Experience ************************* */
.title-language {
  font-weight: bold;
}
section {
  padding-top: 50px; /* Điều chỉnh giá trị này theo chiều cao của Navbar */
  margin-top: -50px; /* Bù lại để section không bị lệch */
}
